In [2]:
import pandas as pd
import numpy as np

# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [16]:
ratings_df = pd.read_csv("ml-latest-small/ratings.csv")

max_rated_movies = ratings_df[ ratings_df["rating"] == 5.0 ]
id_max_rated_movie = max_rated_movies["movieId"].value_counts().idxmax()

movies_df = pd.read_csv("ml-latest-small/movies.csv")
max_rated_movie = movies_df [ movies_df["movieId"] == id_max_rated_movie]["title"].values[0]

print("Movie with the highest score:  ", max_rated_movie)

Movie with the highest score:   Shawshank Redemption, The (1994)

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [18]:
power_df = pd.read_csv("10._Основы_pandas/power.csv")
total_electricity_consumption = power_df [ 
    (
    (power_df["country"] == "Latvia") | (power_df["country"] == "Lithuania") | (power_df["country"] == "Estonia")
    ) 
    & (
        (power_df["category"] == 4) | (power_df["category"] == 12) | (power_df["category"] == 21)
    ) 
    & ( power_df["year"] >= 2005) 
    & (power_df["year"] <= 2010) 
    & (power_df["quantity"] >0 )]["quantity"].sum()

print ("Суммарное потребление стран Прибалтики категорий 4, 12 и 21 за период с 2005 по 2010 года: ", total_electricity_consumption)

Суммарное потребление стран Прибалтики категорий 4, 12 и 21 за период с 2005 по 2010 года:  240580.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):  
https://fortrader.org/quotes  
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [16]:
test = pd.read_html("https://www.finanz.ru/valyuty/v-realnom-vremeni", encoding = "utf-8" )[1]
test.head()

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1049318,-,1037452,"1,14 %",11866,00:28:00
1,NaN,EUR/RUB,903650,-,893140,"1,18 %",10510,00:28:00
2,NaN,USD/RUB,763080,-,748417,"1,96 %",14663,00:28:00
3,NaN,JPY/RUB,07022,-,06879,"2,09 %",00144,00:28:00
4,NaN,CNY/RUB,117051,-,115003,"1,78 %",02049,00:27:00