In [2]:
import pandas as pd

# Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг  
- оценка 4 и меньше - средний рейтинг  
- оценка 4.5 и 5 - высокий рейтинг  

Результат классификации запишите в столбец class

In [30]:
def check_class(movie_rating):
    if movie_rating <=2:
        return "low rating"
    elif movie_rating <=4:
        return "middle rating"
    else:
        return "high rating"
        
    

ratings_df = pd.read_csv("dataset_lab_9/ratings.csv", encoding = "utf-8")
ratings_df["class"] = ratings_df["rating"].apply(check_class)
ratings_df.head(30)

    userId  movieId  rating  timestamp          class
0        1        1     4.0  964982703  middle rating
1        1        3     4.0  964981247  middle rating
2        1        6     4.0  964982224  middle rating
3        1       47     5.0  964983815    high rating
4        1       50     5.0  964982931    high rating
5        1       70     3.0  964982400  middle rating
6        1      101     5.0  964980868    high rating
7        1      110     4.0  964982176  middle rating
8        1      151     5.0  964984041    high rating
9        1      157     5.0  964984100    high rating
10       1      163     5.0  964983650    high rating
11       1      216     5.0  964981208    high rating
12       1      223     3.0  964980985  middle rating
13       1      231     5.0  964981179    high rating
14       1      235     4.0  964980908  middle rating
15       1      260     5.0  964981680    high rating
16       1      296     3.0  964982967  middle rating
17       1      316     3.0  964982310  middle rating
18       1      333     5.0  964981179    high rating
19       1      349     4.0  964982563  middle rating
20       1      356     4.0  964980962  middle rating
21       1      362     5.0  964982588    high rating
22       1      367     4.0  964981710  middle rating
23       1      423     3.0  964982363  middle rating
24       1      441     4.0  964980868  middle rating
25       1      457     5.0  964981909    high rating
26       1      480     4.0  964982346  middle rating
27       1      500     3.0  964981208  middle rating
28       1      527     5.0  964984002    high rating
29       1      543     4.0  964981179  middle rating

# Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

Результат классификации запишите в отдельный столбец region.

In [28]:
def geoclassifier(keywords):
    geo_data = { 
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
           }
    for i in keywords.split(" "):
        for key,value in geo_data.items():
            if i in value:
                return key
    return "undefined"
            


keywords_df = pd.read_csv("dataset_lab_9/keywords.csv", encoding="utf-8")
keywords_df["region"] = keywords_df["keyword"].apply(geoclassifier)
keywords_df[keywords_df["region"] == "Центр"]
#keywords_df

                                                keyword   shows region
127                                        авито москва  979292  Центр
849                                     авито ярославль  209581  Центр
1259                                             москва  153050  Центр
1396                                    гисметео москва  140279  Центр
1482                                   госуслуги москва  133061  Центр
...                                                 ...     ...    ...
98943  вакансии на авито москва от прямых работодателей    3738  Центр
99292                      афиша кино москва на сегодня    3704  Центр
99590             авито ярославль автомобили с пробегом    3673  Центр
99890                               яндекс метро москва    4548  Центр
99922                                 авто ру ярославль    3712  Центр

[384 rows x 3 columns]

# Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

- для каждой строки пройдите по всем годам списка years
- если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
- если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [3]:
def production_year(title):
    years = [i for i in range(1950, 2011)]
    for j in years:
        if str(j) in title:
            return j
    return 1900

#years = [i for i in range(1950, 2011)]
movies_df = pd.read_csv("dataset_lab_9/movies.csv", encoding="utf-8")
ratings_df = pd.read_csv("dataset_lab_9/ratings.csv", encoding="utf-8")
movies_df ["year"] = movies_df["title"].apply(production_year)
movies_df

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,1900
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,1900
9739,193585,Flint (2017),Drama,1900
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,1900
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1991